anomalib==0.7.0
albumentations>=1.4,<2
fastapi>=0.110,<1
matplotlib>=3.7,<4
numpy==1.26.4
omegaconf>=2.3,<3
opencv-python==4.10.0.84
pandas>=2.0,<3
Pillow==10.4.0
pydantic==2.10.6
pytorch-lightning==1.9.5
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.6.1
torch==2.8.0
torchvision==0.23.0
ultralytics>=8.3,<9
uvicorn>=0.29,<1
